/* 슬라이더 컨테이너 전체에 대한 스타일 */

.card-info {
  background-color: var(--movie-card-bg-color);
  color: var(--text-color);
  padding: 15px;
  text-align: left;
}

.card-info h4 {
  margin: 0 0 5px 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info p {
  margin: 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.star-icon {
  color: #f5c518; /* 별점 아이콘은 노란색으로 고정 */
}
.movie-slider-container {
  padding: 20px 0; /* 위아래 여백 */
}

/* Swiper 슬라이드 자체에 대한 스타일 조정 */
.swiper-slide {
  display: flex;
  justify-content: center;
}

/* 네비게이션 버튼(이전/다음 화살표) 색상 변경 */
.swiper-button-prev,
.swiper-button-next {
  color: #8b5cf6; /* 보라색 */
}

/* 페이지네이션(점) 활성 상태 색상 변경 */
.swiper-pagination-bullet-active {
  background: #8b5cf6; /* 보라색 */
}
